[run]
source = .
omit =
    */migrations/*
    */tests/*
    manage.py
    pathfinders_project/wsgi.py
    pathfinders_project/asgi.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError 